<% content_for(:title) do %>
  <%= @rooftop.name %>
<% end %>


<h2><%= @rooftop.name %></h2>
<p><%= @rooftop.description %></p>

<%= link_to "Delete", rooftop_path(@rooftop),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

