.show-banner {
  margin-top: 100px;
  padding: 0;
  height: 150px;
  background-image: url("https://images.unsplash.com/photo-1559339352-11d035aa65de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  object-fit: center;
}
